*{
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: 130rem;
    opacity: 0.6;
}

table {
    border-collapse: collapse;
    width: 75%;
    margin: 5%;
}

table,
th,
td {
    border: 2px solid black;
}

td a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.serial {
    text-align: center;
}

.certificate {
    padding-left: .5%;
}

th {
    color: rgb(216, 7, 7);
    padding: 1% 0 1% 0;
    font-size: 1.2rem;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

td {
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-bottom: 4rem;
}

.top{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

button{
    border: none;
    background-color: white;
    height: 500px;
    font-size: 3rem;
    cursor: pointer;
}

button:hover{
    background-color: rgb(250, 240, 250);
}

.slide{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.frame{
    width: 900px;
    height: 700px;
    overflow: hidden;
    box-shadow: -1px 1px 10px grey;
}

.slider{
    display: flex;
    transition: all 1s ease;
}

.buttons{
    width: 15px;
    height: 15px;
    border: 2.5px solid grey;
    border-radius: 50%;
    cursor: pointer;
}

.bottom{
    display: flex;
    gap: 25px;
}

@media (max-width: 1227px){
    th{
        font-size: 1rem;
    }
    td{
        font-size: .8rem;
    }
    .container{
        display: none;
    }
}
